<form #myForm="ngForm" (submit)="onSubmit(myForm)">
  <fieldset role="radiogroup" class="rating">
    <div *ngFor="let rating of ratings">
      <div class="hover">
        <input
          id="{{ rating }}"
          type="radio"
          role="radio"
          name="rating"
          value="{{ rating }}"
          ngModel
          required
        />
        <label class="circle-wrapper" for="{{ rating }}">{{ rating }}</label>
      </div>
    </div>
  </fieldset>
  <button class="submit">SUBMIT</button>
</form>
